//Top Bar

a {
    color: $primary_accent;
}
a:hover {
    color: $primary_hover;
}
a.btn {
    height: auto !important;
}

 .o_searchview_facet_label
{
    background-color: #5E8EBA;
}

.o_studio_home_menu {
    background-image: linear-gradient(90deg, #5E8EBA, #5E8EBA) !important;
}

.o_home_menu_background {
    background: url(/web_enterprise/static/img/home-menu-bg-overlay.svg), linear-gradient(to right bottom,  #5E8EBA,  #5E8EBA);
    background-size: cover;
}

.o_main_navbar {
    background-color: transparent !important;
    color: $f_color !important;
    border:1px !important;
}
.o_menu_sections, .o_menu_systray, .o_web_client > header{
    background: #5E8EBA !important;
}
.oe_topbar_name {
    color: $f_color !important;
}
.o_main_navbar > .o_menu_apps > li > a > i {
    color: $f_color !important;
    font-size: 16px !important;
}
.o_main_navbar {
    align-items: center;
    border-bottom: 0px solid #5E8EBA !important;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    background-color: #5E8EBA !important;
}

.top_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.top_heading ul {
    margin-bottom: 0 !important;
}
.top_heading > a {
    margin-left: 10px;
    font-size: 20px;
}
.top_heading li {
    list-style: none;
}

.o-no-caret > i, button[aria-pressed="true"] {
    color: $f_color !important;
}
.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    height: 46px;
    padding: 0 5px;
    color: $f_color !important;
    line-height: 46px;
}
.o_main_navbar > .o_menu_sections > li > a:hover,
.o_main_navbar > .o_menu_systray > li > a:hover,
.o_main_navbar > .o_menu_sections > li.show > a,
.o_main_navbar > .o_menu_systray > li.show > a {
    background-color: #5E8EBA !important;
}

.btn-primary {
    background-color: #5E8EBA;
}

.btn-primary:hover {
    background-color: #5E8EBA;
}

.topbar_icon .fa {
    color: #555b6d !important;
    font-size: 20px !important
}

.o_main_navbar .o_user_menu .oe_topbar_avatar {
    height: 35px;
    width: 35px;
}

.o_MessagingMenu_counter {
    background-color: #5E8EBA;
    color: #fff !important;
}
.o_mail_systray_item .o_notification_counter {
    background: #556ee6 !important;
}


//Top Bar End




//New changes
.o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle,
.o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry,
.o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry,
.o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a,
.o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a,
.o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
    color: $f_color !important;
}

.test th.o_monetary_cell.o_column_sortable.o_list_number_th {
  /*  display: block; */
    text-align:center !important;
}

.test .o_field_widget, .test .o_field_widget input.o_input {
    display: block;
    text-align: center;
}

span.o_field_selection_badge.o_field_widget.o_quick_editable.client-color {background: #5E8EBA;}

span.o_selection_badge {background: white;}

span.o_selection_badge.active {background: #white;}

.o_field_widget.o_field_selection_badge .o_selection_badge {margin: 0px;}

.o_form_view.o_form_editable .o_address_format .o_address_city {
    width: 71%;
}
